<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Directions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .container {
        display: flex;
        flex-direction: row;
        width: 100%;
        }

        .map-container {
        width: 83% !important;
        height: 100% !important;
        /* flex: left; */
        }

        .list-container {
        flex-grow: 1;
        padding-left: 30px;
        width: 55%;
        }
        body {
          margin: 4px
        }
    </style>
<script>
  window.onload = function() {
      if (!sessionStorage.getItem('alertShown')) {
          alert("Your IP address may be used to determine the default starting location.");
          sessionStorage.setItem('alertShown', true);
      }
  };
</script>
</head>
<body>
    <h2>Directions to {{team_arena}}</h2>
    <p>Put in your starting address or location to get directions to {{team_arena}}</p>
    <form method="POST" action="{{ url_for('directions_page', team=team) }}">
        <label for="user-address">Enter your starting address:</label>
        <input type="text" name="user-address" id="user-address">
        <input type="submit" value="Get directions">
    </form>
    <br>
    <div class="container">
        <div class="map-container" >
          {{ map_html | safe }}
          <br>
          <button><a href="{{ url_for('question', team=team) }}">Go back</a></button>

        </div>
        <div class="list-container">
          <h3>Driving Directions:</h3>
          <h5><b>Total distance:</b> {{ '%.2f'|format(total_distance/1609) }} miles</h5>
          <h5><b>Total time:</b> {{ '%.2f'|format(total_time/60) }} min</h5>
          <ol>
          {% for instruction in route_instructions %}
            <li>{{ instruction[0] }} ({{ '%.2f'|format(instruction[1]/1609) }} mi, {{ '%.2f'|format(instruction[2]/60)  }} min) </li>
          {% endfor %}
          </ol>

        </div>

      </div>
</body>
</html>