<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Question 1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        form {
            text-align: center;
            margin: auto;
            border: 5px black solid;
            font-size: 20px;
            max-width: 60%;
        }
        button {
            margin-left: 5px;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">{{team}}</h1>
    
    <form method="post">
        <h2>{{team_arena}} in {{city}}</h2>
        <h3>{{ question }}</h3>
        <input type="radio" id="yes" name="answer" value="yes"> Yes<br>
        <input type="radio" id="no" name="answer" value="no"> No<br>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <br><br>
      </form>
      <br>
      <button><a href="{{ url_for('index') }}">Go back</a></button> 
</body>
</html>